[submodule "engine/external/glm"]
	path = engine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/external/rapidyaml"]
	path = engine/external/rapidyaml
	url = https://github.com/biojppm/rapidyaml
[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/external/lz4"]
	path = engine/external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "editor/external/ImGui"]
	path = editor/external/ImGui
	url = https://github.com/KampotKaca/ImGui.git
	branch = docking
[submodule "engine/external/svector"]
	path = engine/external/svector
	url = https://github.com/martinus/svector.git
